@import url("https://fonts.googleapis.com/css?family=Rubik");

html body{
  background: url('/NYC2000.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

nav {
  position:fixed;
  width:100%;
  height:75px;
  background-color: white;

  ul {
    list-style: none;
  }

  li{
  margin: auto;
  }

  h2 {
  color: #878787;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  }

  .nav-item {
    margin: 25px;
  }

}

div .white {
  background-color: #FFFFFF;
}

div .transparent {
  background-color: transparent;
}

#navbar {
  border-radius: 0px;
}

#grain {
  color: #28c175;
}

#mainframe {
  top: 50%;

  h1 {
    font-size: 60pt;
  text-align: center;
  color: white;
  text-shadow: 2px 1px 3px black;
  margin-bottom: 5px;
  position: center;
  }

  h4 {
    font-size: 24pt;
  margin-top: 0px;
  color: white;
  text-shadow: 2px 1px 3px black;
  text-align: center;
  font-style: italic;
  }
}


#map {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

#panel-right {
  position: absolute;
  width: 25vw;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  overflow: hidden;
  padding: 100px 0px 0px 50px;
  margin-top: 0px;
  margin-left: 0px;

  h3 {
  color: #F37F18;
  margin-top: 30px;
  }

  select{
  width: 20vw;
  border: 5px solid #F0F0F0;
  background-color: #F0F0F0;
  }

  .itinerary {
    background-color: black;
    border: 1px solid #6BA044;
    width: 20vw;
    padding: 30px;
    margin: 50px 50px 0px 0px;
    border-radius: 8px;

    p {
      font-weight: normal;
      color: white;
    }

    h3 {
    margin-top: 0px;
    }
  }

}

select.options {
  padding: 15px;
}

.primary {
  background-color: transparent;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
