html, body{
  background-color: transparent;
}
html, body {
    width: 100%;
    height: 100%;
}

.primary {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  height: 50vw;
  width: 50vh;
  margin: 0px;
  padding: 0px;
  float: left;
}

div .white {
  background-color: #FFFFFF;
}

div .transparent {
  background-color: transparent;
}

/* url('/GoldenGateBridge.jpg') */
